.delivery {
    margin-top: 130px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
}

.delivery-subtitle {
    font-family: PTSans-Regular;
    font-size: 20px;
}

.delivery-title {
    margin-top: 15px;
    font-family: PTSans-Bold;
    font-size: 60px;
}

.delivery-wrapper {
    width: 100%;
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: baseline;
}

.delivery-item {
    max-width: 260px;
}

.delivery-item__description {
    margin-top: 60px;
}


@media (max-width: 918px) {
    .delivery-wrapper {
        margin-top: 46px;
        justify-content: space-around;
    }

    .delivery-item {
        margin-top: 42px;
    }

    .delivery-title {
        font-size: 42px;
    }
}

@media (max-width: 580px) {
    .delivery-title {
        font-size: 23px;
    }

    .delivery-subtitle {
        font-size: 17px;
    }
}