.fit,
.balance,
.sport {
    margin-top: 130px;
    color: $white;
}

.dish-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

.dish-left {
    // max-width: 400px;
}

.dish-title {
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
    letter-spacing: 0;
}

.dish-ratio {
    margin-top: 16px;
    font-family: PTSans-Regular;
    font-size: 15px;
    letter-spacing: 0;
}


.dish-dots {
    display: flex;
    margin-top: 28px;
}

.fit-dot,
.balance-dot,
.sport-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.fit-dot:not(:first-child),
.balance-dot:not(:first-child),
.sport-dot:not(:first-child) {
    margin-left: 10px;
}

.fit-dot.color {
    background: #A2E670;
}

.fit-dot.uncolor,
.balance-dot.uncolor {
    border: 1px solid #D8D8D8;
}

.balance-dot.color {
    background: #F9C770;
}

.sport-dot.color {
    background: #4D86FB;
}


.dish-description {
    margin-top: 30px;
    font-family: PTSans-Regular;
    font-size: 20px;
    letter-spacing: 0;
}

ul.dish-ul {
    margin-left: -37px;
    font-family: PTSans-Regular;
    font-size: 20px;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.dayratio {
    margin-top: 30px;
    opacity: 0.3;
    font-family: PTSans-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
}

.dayratio:hover {
    opacity: 0.5;
}

.order {
    width: 100%;
    margin-top: 30px;
    padding: 15px 105px;
    background: #3C7E23;
    border: none;
    border-radius: 50px;
    font-family: PTSans-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    transition: 0.5s;
}

.order:hover {
    background: #46FF00;
    color: $white;
}

.dish-card {
    max-width: 400px;
    min-height: 670px;
    margin-top: 30px;
    border-radius: 40px;
    background: #FFFFFF;
    box-shadow: 0 9px 12px 0 #000000;
    color: $black;
    transition: 0.3s;
}

.dish-card:hover {
    box-shadow: 0 9px 12px 0 #3C7E23
}

.dish-card__photo {
    width: 100%;
    border-bottom: none;



    img {
        width: 100%;
        border-radius: 40px 40px 0 0;

    }
}

.dish-card__text {
    padding: 40px 46px;
}

.card__text-title {
    font-family: Montserrat-ExtraBold;
    font-size: 25px;
    letter-spacing: 0;
    font-weight: bold;
}

.card__text-description {
    max-width: 304px;
    margin-top: 32px;
    font-family: PTSans-Regular;
    font-size: 15px;
    letter-spacing: 0;
}

.card__text-size {
    margin-top: 30px;
    font-family: PTSans-Regular;
    font-size: 20px;
    letter-spacing: 0;
}

.socials-hidden {
    display: none;
    max-width: 320px;
    height: 120px;
    background: #3F484A;
    // opacity: 0.3;
    border-radius: 40px;
    padding: 17px 34px;
}

.socials-hidden__title {
    font-family: PTSans-Regular;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    // line-height: 32px;
}

.socials-hidden__icons {
    margin-top: 15px;
    text-align: center;

    a:not(:first-child) {
        margin-left: 20px;
    }
}

.socials-hidden__link {
    display: inline-block;
    vertical-align: top;
}

.socials-hidden__link:first-child {
    margin-right: 20px;
}

button.order.mobile-show {
    display: none;
}

@media (max-width: 798px) {
    button.order {
        opacity: 0.77;
        background: #46FF00;
        color: $white;

    }

    button.order.mobile-hide {
        display: none;
    }

    button.order.mobile-show {
        display: block;
    }
}

@media (max-width: 690px) {
    .socials-hidden {
        display: block;
        margin-top: 60px;
    }

    .order {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 444px) {
    .socials-hidden {
        padding: 26px 12px;
    }

    button.dayratio {
        padding-right: 37px;
        padding-left: 37px;
    }
}