footer {
    margin-top: 30px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    background: url('../images/footer-bg.jpg') center/cover no-repeat;
    padding-bottom: 53px;
}

.footer-call {
    max-width: 381px;
    margin: auto;
    margin-top: 90px;
    font-family: PTSans-Regular;
    font-size: 20px;
}

.footer-phone {
    font-family: PTSans-Bold;
    font-size: 60px;
    margin-top: 15px;
}

.footer-logo {
    margin-top: 200px;
}

.footer-subtitle {
    margin-top: 200px;
    font-family: PTSans-Regular;
    font-size: 20px;
}

.footer-title {
    margin-top: 15px;
    font-family: PTSans-Bold;
    font-size: 60px;
}

.footer-socials__title {
    margin-top: 130px;
    font-family: PTSans-Regular;
    font-size: 15px;
}

.footer-socials__wrapper {
    display: flex;
    margin-top: 20px;

    a:not(:first-child) {
        margin-left: 40px;
    }
}

ul.footer-nav {
    font-family: PTSans;
    display: flex;
    margin-top: 244px;
    padding-left: 0;
    list-style-type: none;

    li:not(:first-child) {

        margin-left: 50px;
    }
}

.footer-signature {
    margin-top: 29px;
    opacity: 0.5;
    font-family: PTSans-Regular;
    font-size: 15px;
}

@media (max-width: 440px) {
    .footer-call {
        font-size: 16px;
    }

    .footer-phone {
        font-size: 26px;
    }

    .footer-subtitle {
        font-size: 16px;
    }

    .footer-title {
        font-size: 26px;
    }

    .footer-socials__wrapper {
        a:not(:first-child) {
            margin-left: 20px;
        }
    }

    ul.footer-nav {
        flex-direction: column;

        li:not(:first-child) {

            margin-left: 0px;
            margin-top: 16px;
        }
    }
}