header {
    // background: url('../images/header-bg.png') center/cover no-repeat;
    padding-top: 100px;
}

.header-logo {
    margin: 35px auto;
}

.header-presents {
    font-family: PTSans-Regular;
    color: $white;
    margin-top: 22px;
}

.header-title {
    h1 {
        margin: 0;
        color: $white;
        font-family: Montserrat-ExtraBold;
        font-size: 120px;
        letter-spacing: -4.49px;
        text-align: center;
    }
}

.header-description {
    margin-top: 93px;
    font-family: PTSans-Regular;
    font-size: 20px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
}

.header-arrow {
    margin-top: 106px;
}

.header-forget {
    margin-top: 234px;
    font-family: PTSans-Regular;
    font-size: 20px;
    color: $white;
    letter-spacing: 0;
}

.header-easy {
    margin-top: 15px;
    font-family: PTSans-Bold;
    font-size: 60px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
}

.keto-item__description {
    max-width: 660px;
    margin-top: 184px;
    font-family: PTSans-Regular;
    font-size: 20px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;

}


@media (max-width: 768px) {
    .header-easy {
        font-size: 46px;
    }
}


@media (max-width: 656px) {
    .header-title {
        h1 {
            font-size: 106px;
        }

    }

    .header-easy {
        font-size: 33px;
    }

    .keto-item__description {
        font-size: 16px;
    }
}

@media (max-width: 656px) {
    .header-arrow {
        margin-top: 19px;
    }
}

@media (max-width: 444px) {
    .header-title {
        h1 {
            font-size: 70px;
        }

    }

    .header-description {
        font-size: 17px;
    }

    .header-forget {
        font-size: 17px;
        margin-top: 155px;
    }

    .header-easy {
        font-size: 23px;
    }

    .keto-item__description {
        font-size: 13px;
        line-height: 20px;
    }
}