.keto-items {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 101px;
    color: $white;
    text-align: center;
}

.keto-item {
    width: 380px;
    background: #383A39;
    border-radius: 62px;
    padding: 23px 0 19px 0;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}

.green:hover {
    border: 1px solid #A2E670;
    box-shadow: 0 0 34px 0 rgba(162, 230, 112, 0.5);
}

.orange:hover {
    border: 1px solid #F9C770;
    box-shadow: 0 0 34px 0 rgba(249, 199, 112, 0.5);
}

.blue:hover {
    border: 1px solid #4D86FB;
    box-shadow: 0 0 34px 0 rgba(77, 134, 251, 0.5);
}

.keto-item__title {
    font-family: Montserrat-Bold;
    font-size: 35px;
    letter-spacing: 0;
}

.keto-item__subtitle {
    font-family: PTSans-Regular;
    font-size: 15px;
    letter-spacing: 0;
    margin-top: 17px;
}



@media (max-width: 768px) {
    .keto-items {
        margin-top: 43px;
    }

    .keto-item {
        margin-top: 40px;
    }

    .green {
        border: 1px solid #A2E670;
        box-shadow: 0 0 34px 0 rgba(162, 230, 112, 0.5);
    }

    .orange {
        border: 1px solid #F9C770;
        box-shadow: 0 0 34px 0 rgba(249, 199, 112, 0.5);
    }

    .blue {
        border: 1px solid #4D86FB;
        box-shadow: 0 0 34px 0 rgba(77, 134, 251, 0.5);
    }
}

@media (max-width: 656px) {
    .keto-items {
        margin-top: 0;
    }

    .keto-item {
        margin-top: 40px;
    }

    .keto-item__description {
        margin-top: 80px;
    }
}

@media (max-width: 428px) {


    .keto-item__title {
        font-size: 25px;
    }
}