* {
  box-sizing: border-box;
}

body {
  // background: url('../images/background.svg') center/cover no-repeat;
  background-image: linear-gradient(to bottom, #000000, #16282B);
  font-family: 'Roboto', sans-serif;
  height: 9999px;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-left: 100px;

}

// .main {
//   display: grid;
// }

// .block {
//   display: flex;
//   width: 200px;
//   height: 200px;
// }

// .image img {
//   object-fit: cover;
// }


button {
  outline: none !important;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;

}

hr {
  color: $black;
  border: none;
  background-color: $black;
  height: 1px;
}



// li {
//   list-style-type: none;

// }

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}


// @media (max-width: 868px) {
//   .container {
//     padding: 60px;
//   }
// }


// @media (max-width: 600px) {
//   .container {
//     padding-top: 30px;
//     padding-bottom: 30px;
//     padding-left: 12px;
//     padding-right: 12px;
//   }
// }