* {
  box-sizing: border-box;
}

body {
  // background: url('../images/background.svg') center/cover no-repeat;
  position: relative;
  background-image: linear-gradient(to bottom, #16282B, #16282B);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;


}

button {
  outline: none !important;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;

}

hr {
  color: $black;
  border: none;
  background-color: $black;
  height: 1px;
}

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

header {
  position: relative;
  z-index: 10;
}

section {
  position: relative;
  z-index: 10;
}

.background-top {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.gradient {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(180deg, rgba(6, 8, 7, 0) 21%, #060807 37%, #060807 51%, #16282b 98%, rgba(22, 40, 43, 0));
}

@media (max-width: 1400px) {
  .gradient {
    background-image: linear-gradient(180deg, rgba(6, 8, 7, 0) 15%, #060807 29%, #060807 49%, #16282b 98%, rgba(22, 40, 43, 0));
  }
}

@media (max-width: 1000px) {
  .gradient {
    background-image: linear-gradient(180deg, rgba(6, 8, 7, 0) 7%, #060807 13%, #060807 41%, #16282b 95%, rgba(22, 40, 43, 0));
  }
}

@media (max-width: 690px) {
  .gradient {
    background-image: linear-gradient(180deg, rgba(6, 8, 7, 0) 5%, #060807 13%, #060807 44%, #16282b 95%, rgba(22, 40, 43, 0))
  }
}

@media (max-width: 600px) {
  .gradient {
    background-image: linear-gradient(180deg, rgba(6, 8, 7, 0) 2%, #060807 8%, #060807 44%, #16282b 95%, rgba(22, 40, 43, 0));
  }
}

@media (max-width: 370px) {
  .gradient {
    background-image: linear-gradient(180deg, rgba(6, 8, 7, 0) 5%, #060807 5%, #060807 44%, #16282b 95%, rgba(22, 40, 43, 0));
  }
}

@media (max-width: 442px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}