.menu-nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #060808;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), inset 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    // filter: blur(10px);
}

.main-menu {
    width: auto;
    display: flex;
    align-items: center;


    li {
        margin-left: 58px;
        list-style-type: none;
    }
}

.righted {
    margin-right: 21px;
}