extends layout/layout.pug

block content
  nav.menu-nav
    ul(class="main-menu")
      a(href='#')
        img.logo(src="../src/images/logo.svg" alt="Logo") 
      li
        a(href="#" ) Рационы
      li
        a(href="#") Выгода
      li
        a(href="#") Стоимость
      li
        a(href="#") Доставка
    span.righted
      a(href="tel: +79818223153") +7 981 8223153 

  header
    .container  
      .header-logo
        img(src="../src/images/logo-big.svg")
      .header-presents
        | представляет  
      .header-title   
        h1 
          | рационы
      .header-description
        |  для приверженцев кето-диеты и для тех, кто только подумывает о кетозе.
      .header-arrow
        a(href="#")
          img(src="../src/images/arrow.svg") 
      .header-forget
        | Забудь о том, что надо готовить.   
      .header-easy 
        | Просто. Ешь. Больше. Жиров.   
      .header-item__description
        | Основываясь на последних открытиях диетологии и собственном опыте, мы разработали три вида кето-рационов: 
      .header-keto-items
        .keto-item
          .keto-item__title
            | FIT
          .keto-item__subtitle
            | 1300 ккал/день 

        .keto-item
          .keto-item__title
            | BALANCE
          .keto-item__subtitle
            | 2000 ккал/день  

        .keto-item
          .keto-item__title
            | SPORT
          .keto-item__subtitle
            | 2500 ккал/день         




