extends layout/layout.pug

block content
  section.menu
    nav.menu-nav
      ul(class="main-menu")
        a(href='#')
          img.logo(src="../src/images/logo.svg" alt="Logo") 
        li
          a(href="#rations" class="menu-link") Рационы
        li
          a(href="#benefit" class="menu-link") Выгода
        li
          a(href="#cost" class="menu-link") Стоимость
        li
          a(href="#delivery" class="menu-link") Доставка
        span.righted
          a(href="tel: +79818223153") +7 981 8223153 
    <a href="#" class="menu-btn">
    <span></span>
    </a>
    .overlay
  img.background-top(src="../src/images/header-bg.jpg")
  .gradient
  header
    .container  
      .header-logo
        img(src="../src/images/logo-big.svg")
      .header-presents
        | представляет  
      .header-title   
        h1 
          | рационы
      .header-description
        |  для приверженцев кето-диеты и для тех, кто только подумывает о кетозе.
      .header-arrow
        .header-arrow__button
          img(src="../src/images/arrow.svg") 
      .header-forget
        | Забудь о том, что надо готовить.   
      .header-easy 
        | Просто. Ешь. Больше. Жиров. 
      #rations.keto-item__description
        | Основываясь на последних открытиях диетологии и собственном опыте, мы разработали три вида кето-рационов:   
  section.keto-ration
    .container  
      .keto-items
        .keto-item.green(data-scroll="fit")
          .keto-item__title
            | FIT
          .keto-item__subtitle
            | 1300 ккал/день 

        .keto-item.orange(data-scroll="balance")
          .keto-item__title
            | BALANCE
          .keto-item__subtitle
            | 2000 ккал/день  

        .keto-item.blue(data-scroll="sport")
          .keto-item__title
            | SPORT
          .keto-item__subtitle
            | 2500 ккал/день 

  section#fit.fit
    .container
      .dish-wrapper
        .dish-left
          .dish-declaration
            .dish-title
              | FIT
            .dish-ratio
              | рацион, 1300 ккал/день  
            
            .dish-dots
              .fit-dot.color  
              .fit-dot.color  
              .fit-dot.color  
              .fit-dot.uncolor  
              .fit-dot.uncolor  
            .dish-description
              | Включает 2 приёма пищи в день. 
              | <br> Он для тебя, если ты:
            ul.dish-ul
              li
                | хочешь похудеть; 
              li
                | давно в "кетозе" и знаешь, что нужно
                | <br>твоему организму;
              li
                | ведешь малоактивный образ жизни.
            button.dayratio 
              | Пример рациона на 1 день  

          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/fit_02.png")
            .dish-card__text
              .card__text-title
                | Фахитос боул с курицей
              .card__text-description
                | Куриный окорочок, микс салатов, томаты 
                | черри, авокадо, кинза, лук репчатый красный, 
                | перец болгарский, масло сливочное, сыр 
                | чеддер, сметана, смесь T-mex   
              .card__text-size
                | КБЖУ: 862/41/71/9, 350 гр   


                  

        .dish-right 
          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/fit_01.png")
            .dish-card__text
              .card__text-title
                | Греческий суп 
                | с курицей
              .card__text-description
                | Куриный окорочок, рис из цветной 
                | капусты, масло сливочное, яйца куриные, 
                | сок лимона, петрушка, тимьян 
              .card__text-size
                | КБЖУ:620/27/54/5, 370 гр 
          a(href="https://etoketo.ru/#category22783") 
            button.order
              | Перейти к заказу
        .socials-hidden
          .socials-hidden__title
            | На любые вопросы ответим в чате:
          .socials-hidden__icons
            a.socials-hidden__link(href="https://t-do.ru/EtoKeto")
              img(src="../src/images/tg-hidden.svg")   
            a.socials-hidden__link(href="https://api.whatsapp.com/send?phone=79818223153")
              img(src="../src/images/wapp-hidden.svg")          

  section#balance.balance
    .container
      .dish-wrapper
        .dish-left
          .dish-declaration
            .dish-title
              | BALANCE
            .dish-ratio
              | рацион, 2000 ккал/день  
            
            .dish-dots
              .balance-dot.color  
              .balance-dot.color  
              .balance-dot.color  
              .balance-dot.color  
              .balance-dot.uncolor  
            .dish-description
              | Включает 3 приёма пищи в день. 
              | <br> Он для тебя, если ты:
            ul.dish-ul
              li
                | хочешь просто питаться каждый день 
                | <br>без хлопот; 
              li
                | только присоединился к кето;
              li
                | ведешь умеренную активность.
            button.dayratio 
              | Пример рациона на 1 день  

          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/balance_01.png")
            .dish-card__text
              .card__text-title
                | Суп гуляш
              .card__text-description
                | Состав: мраморная говядина, лук репчатый 
                | красный, чеснок, корень сельдерея, перец 
                | болгарский, масло оливковое, томаты, 
                | морковь, петрушка, паприка, орегано, 
                | кайенский перец, тмин, сметана  
              .card__text-size
                | КБЖУ: 485/16/41/11, 445 гр 
          a(href="https://etoketo.ru/#category22783") 
            button.order
              | Перейти к заказу   


                  

        .dish-right 
          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/balance_03.png")
            .dish-card__text
              .card__text-title
                | Салат с беконом 
                | и курицей
              .card__text-description
                | Куриный окорочок, бекон, микс салатов, 
                | томаты черри, майонез домашний, масло 
                | сливочное
              .card__text-size
                | КБЖУ: 837/28/78/4, 230 гр
          

          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/balance_02.png")
            .dish-card__text
              .card__text-title
                | Кето-тако из курицы
              .card__text-description
                | Куриный окорочок, яйца куриные, смесь T-
                | mex, масло оливковое, сыр чеддер, сальса 
                | (томаты, сок лайма, кинза, чеснок, масло 
                | льняное), авокадо, лук репчатый красный, 
                | сметана, халапеньо
              .card__text-size
                | КБЖУ: 872/31/69/10, 295 гр
        .socials-hidden
          .socials-hidden__title
            | На любые вопросы ответим в чате:
          .socials-hidden__icons
            a.socials-hidden__link(href="https://t-do.ru/EtoKeto")
              img(src="../src/images/tg-hidden.svg")   
            a.socials-hidden__link(href="https://api.whatsapp.com/send?phone=79818223153")
              img(src="../src/images/wapp-hidden.svg")            
                     
  section#sport.sport
    .container
      .dish-wrapper
        .dish-left
          .dish-declaration
            .dish-title
              | SPORT
            .dish-ratio
              | рацион, 2500 ккал/день  
            
            .dish-dots
              .sport-dot.color  
              .sport-dot.color  
              .sport-dot.color  
              .sport-dot.color  
              .sport-dot.color
            .dish-description
              | Включает 3 приёма пищи в день. 
              | <br> Он для тебя, если ты:
            ul.dish-ul
              li
                | активно работаешь над своим телом;
              li
                | не считаешь калории, потому что это 
                | <br>тебе не нужно;
              li
                | думаешь, что десерты — это 
                | <br> неизменный элемент дневного рациона 
            button.dayratio 
              | Пример рациона на 1 день  

          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/sport_01.png")
            .dish-card__text
              .card__text-title
                | Суп гуляш
              .card__text-description
                | Состав: мраморная говядина, лук репчатый 
                | красный, чеснок, корень сельдерея, перец 
                | болгарский, масло оливковое, томаты, 
                | морковь, петрушка, паприка, орегано, 
                | кайенский перец, тмин, сметана  
              .card__text-size
                | КБЖУ: 485/16/41/11, 445 гр 

          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/sport_04.png")
            .dish-card__text
              .card__text-title
                | Суп гуляш
              .card__text-description
                | Состав: мраморная говядина, лук репчатый 
                | красный, чеснок, корень сельдерея, перец 
                | болгарский, масло оливковое, томаты, 
                | морковь, петрушка, паприка, орегано, 
                | кайенский перец, тмин, сметана  
              .card__text-size
                | КБЖУ: 485/16/41/11, 445 гр 

                  

        .dish-right 
          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/sport_02.png")
            .dish-card__text
              .card__text-title
                | Скрембл
              .card__text-description
                | Яйца куриные, масло сливочное, лук 
                | зеленый, халапеньо, томаты, сыр чеддер
              .card__text-size
                | КБЖУ: 403/26/30/3, 255 гр
          

          .dish-card
            .dish-card__photo
              img(src="../src/images/dishes/sport_03.png")
            .dish-card__text
              .card__text-title
                | Кето-тако из курицы
              .card__text-description
                | Куриный окорочок, яйца куриные, смесь T-
                | mex, масло оливковое, сыр чеддер, сальса 
                | (томаты, сок лайма, кинза, чеснок, масло 
                | льняное), авокадо, лук репчатый красный, 
                | сметана, халапеньо
              .card__text-size
                | КБЖУ: 872/31/69/10, 295 гр
          a(href="https://etoketo.ru/#category22783") 
            button.order
              | Перейти к заказу 
        .socials-hidden
          .socials-hidden__title
            | На любые вопросы ответим в чате:
          .socials-hidden__icons
            a.socials-hidden__link(href="https://t-do.ru/EtoKeto")
              img(src="../src/images/tg-hidden.svg")   
            a.socials-hidden__link(href="https://api.whatsapp.com/send?phone=79818223153")
              img(src="../src/images/wapp-hidden.svg")         

  section#benefit.futures 
    .container
      .futures-subtitle
        | Сосредоточиться на себе
      .futures-title
        | Зачем заказывать рационы?
      .futures-wrapper
        .futures-item
          img(src="../src/images/futures_1.svg") 
          .futures-item__text  
            | чтобы тратить время на что-то 
            | приятное, а не на приготовление
            | и походы в магазин                                     
        .futures-item
          img(src="../src/images/futures_2.svg")
          .futures-item__text 
            | чтобы генерить лучшие идеи, 
            | а не вспоминать: «не забыл ли сделать 
            | заказ, подходит ли еда под кето?»                                           
        .futures-item  
          img(src="../src/images/futures_3.svg") 
          .futures-item__text  
            | чтобы каждый день потреблять
            |  разные блюда, а не думать, 
            |  «чего бы такого поесть сегодня?»   

  section#cost.choose-card
    .container
      .choose-card__subtitle
        | Для лучших результатов
      .choose-card__title
        | Выбери свой рацион
      .choose-card__wrapper
        .card-wrapper
          .ratio-card.card-fit
            .ratio-card__title
              | FIT
            .ratio-card__subtitle
              | 1300 ккал/день
            <hr>  
            .ratio-card__prise
              | 700р.
            <hr>
            .ratio-card__description
              | стоимость дневного рациона
              | при заказе на неделю
            .prise-wrapper
              .prise-description
                | стоимость
                | недельного 
                | рациона 
              .prise
                | 4900р.
            .prise-wrapper.mute
              .prise-description
                | стоимость
                | 3-дневного 
                | рациона 
              .prise
                | 2400р. 
          .choose-card_button        
            a(href="https://etoketo.ru/#category22783") 
              button.order
                | Перейти к заказу         

        .card-wrapper             
          .ratio-card.card-balance
            .ratio-card__title
              | BALANCE
            .ratio-card__subtitle
              | 2000 ккал/день
            <hr>  
            .ratio-card__prise
              | 1000р.
            <hr>
            .ratio-card__description
              | стоимость дневного рациона
              | при заказе на неделю
            .prise-wrapper
              .prise-description
                | стоимость
                | недельного 
                | рациона 
              .prise
                | 7000р.
            .prise-wrapper.mute
              .prise-description
                | стоимость
                | 3-дневного 
                | рациона 
              .prise
                | 3600р.
          .choose-card_button        
            a(href="https://etoketo.ru/#category22783") 
              button.order
                | Перейти к заказу         
        

        .card-wrapper
          .ratio-card.card-sport
            .ratio-card__title
              | SPORT
            .ratio-card__subtitle
              | 2500 ккал/день
            <hr>  
            .ratio-card__prise
              | 1200р.
            <hr>
            .ratio-card__description
              | стоимость дневного рациона
              | при заказе на неделю
            .prise-wrapper
              .prise-description
                | стоимость
                | недельного 
                | рациона 
              .prise
                | 8400р.
            .prise-wrapper.mute
              .prise-description
                | стоимость
                | 3-дневного 
                | рациона 
              .prise
                | 4500р.
          .choose-card_button.down 
            a(href="https://etoketo.ru/#category22783")      
              button.order
                | Перейти к заказу    

  section#delivery.delivery
    .container
      .delivery-subtitle
        | Еда сама найдет тебя
      .delivery-title
        | Готовим и доставляем по СПБ
      .delivery-wrapper
        .delivery-item
          img(src="../src/images/delivery_1.svg")
          .delivery-item__description
            | Оформи заказ по телефону или через 
            | корзину на etoketo.ru и мы свяжемся 
            | с тобой для уточнения деталей 
        .delivery-item
          img(src="../src/images/delivery_2.svg")
          .delivery-item__description
            | Наша еда хранится не более 3-х суток, 
            | и для недельного рациона потребуется 
            | больше одной доставки
        .delivery-item
          img(src="../src/images/delivery_3.svg")
          .delivery-item__description
            | Мы никогда не храним готовую еду
            | и продукты, а готовим всё 
            | исключительно под заказ.

  footer 
    .container
      .footer-call
        | Остались вопросы? 
        | <br>Звони или пиши в мессенджеры по номеру
      .footer-phone
        a(href="tel: +79818223153") +7 981 8223153  
      .footer-logo
        img(src="../src/images/logo-big.svg") 
      .footer-subtitle 
        | Надеемся, слюнка уже потекла
      .footer-title
        | Всем кето!
      .footer-socials__title
        | Поделиться этой страницей с друзьями
      .footer-socials__wrapper
        
        a(href="https://www.facebook.com/sharer/sharer.php?u=https://everyday.etoketo.ru")
          img(src="../src/images/fb.svg")
        a(href="http://vk.com/share.php?u=https://everyday.etoketo.ru")         
          img(src="../src/images/vk.svg")  
        a(href="https://telegram.me/share/url?url=https://everyday.etoketo.ru")       
          img(src="../src/images/tg.svg")  
        a(href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text=https://everyday.etoketo.ru")
          img(src="../src/images/wapp.svg") 
      ul.footer-nav
        li
          a(href="https://etoketo.ru") Меню ЭтоКето
        li  
          a(href="https://etoketo.ru/about") О проекте
        li  
          a(href="https://blog.etoketo.ru") Кетоблог
      .footer-signature
        | ЭтоКето, 2019. Санкт-Петербург.    













  

